<h1>Welcome!</h1>


<form action="/bookmarks" method="get">
  <button type="submit" value="View all Bookmarks">View Bookmarks</button>
</form>

<form action='/bookmarks' method='post'>
  <button type="submit" value=create>Create Bookmark</button>
  <input type='text' name=url placeholder="Enter URL Here" required>
</form>