<h1>Welcome!</h1>


<form action="/bookmarks" method="get">
  <button type="submit" value="View all Bookmarks">View Bookmarks</button>
</form>

<form action='/bookmarks/new' method='post'>
  <button type="submit" value=create>Create Bookmark</button>
  <input type='text' name=title placeholder='E.g Youtube' required>
  <input type='text' name=url size=30 placeholder="E.g https://www.youtube.com" required>
</form>